<html>

<head>
    {% if title %}
    <title>{{ title }} - VoteIt</title>
    {% else %}
    <title>VoteIt</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

    <!-- <link rel="stylesheet" href="_css/style.css"> -->
</head>

<body>
    <header> {% block header %}
        <nav class="teal lighten-3">
            <div class="navbar-wrapper container black-text">
                <a href="/" class="brand-logo left hide-on-med-and-down"><img src="{{url_for('static', filename='shaka.png')}}" alt="hangloose" style="width:30px;height:25px;"> VoteIt
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="/" class="brand-logo right hide-on-large-only"><img src="{{url_for('static', filename='shaka.png')}}" alt="hangloose" style="width:30px;height:25px;"> VoteIt
                </a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="/browse">Browse</a></li>
                  <li><a href="/create">Create</a></li>
                  {% if not session.logged_in %}
                  <li id="login"><a href="/facebook_login">Sign in</a></li>
                  {% else %}
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Hello {{ session.user_name }}</a></li>
                  {% endif %}
                </ul>

                <ul class="side-nav" id="mobile-demo">
                  {% if not session.logged_in %}
                  <li id="login"><a href="/facebook_login">Sign in</a></li>
                  {% else %}
                  <li>Hello {{ session.user_name }}</li>
                  {% endif %}
                  <li id="logout"><a href="/logout">Sign Out</a></li>
                  <!-- <li><a href="/manage">Manage</a></li> -->
                  <li><a href="/browse">Browse</a></li>
                  <li><a href="/create">Create</a></li>

                </ul>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <!-- <li><a href="/manage">Manage</a></li> -->
                    <li id="logout"><a href="/logout">Sign Out</a></li>
                </ul>

            </div>
        </nav>

        {% endblock %}
    </header>
    <main>
      <div id="content">
          {% block content %} {% endblock %}
      </div>
    </main>

    <footer class="page-footer teal lighten-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">We think this is awesome and we hope you do too.</p>
                    <p class="grey-text text-lighten-3">Contact <a class="white-text" target="_newtab" href="https://www.linkedin.com/in/pauldglenn">Paul</a>, <a class="white-text" target="_newtab" href="https://www.linkedin.com/in/mgoutam">Goutam</a>, or <a class="white-text" target="_newtab"
                            href="https://www.linkedin.com/in/pnadagouda">Pratik</a></p>
                </div>
                <div class="col l2 offset-l4 s12">
                    <h5 class="white-text">Help</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 PGP

            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}">
    </script>
</body>

</html>
