<html>

<head>
    {% if title %}
    <title>{{ title }} - VoteIt</title>
    {% else %}
    <title>VoteIt</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <!-- <link rel="stylesheet" href="_css/style.css"> -->
</head>

<body>
    <header> {% block header %}
        <nav class="blue">
            <div class="navbar-wrapper container">
                <a href="/" class="brand-logo left"><img src="{{url_for('static', filename='shaka.png')}}" alt="hangloose" style="width:30px;height:25px;">
VoteIt</a>


                <ul id="nav-mobile" class="right hide-on-med-and-down">





                    {% if not session.logged_in %}
                      <li><a href="/browse">Browse</a></li>
                      <li><a href="/create">Create</a></li>
                      <li><a href="/manage">Manage</a></li>
                      <li id="login"><a href="/facebook_login">Sign in</a></li>
                    {% else %}
                      <li>Hello {{ session.user_name }}</li>
                      <li><a href="/browse">Browse</a></li>
                      <li><a href="/create">Create</a></li>
                      <li><a href="/manage">Manage</a></li>
                      <li id="logout"><a href="/logout">Sign Out</a></li>
                    {% endif %}
                    <!-- <input class=" action-button btn-flat white" id="logout-button" type="submit" value="Logout"> -->
                    <!-- </form></li> -->
                </ul>
            </div>
        </nav>

        {% endblock %}
    </header>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">We think this is awesome and we hope you do too.</p>
                    <a class="grey-text text-lighten-3" href="#!">Contact us</a>
                </div>
                <div class="col l2 offset-l4 s12">
                    <h5 class="white-text">Help</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 PGP
                <a class="grey-text text-lighten-4 right" href="#!">Social Media Links</a>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}">
    </script>
</body>

</html>
