{% extends "base.html" %} 
{% block content %}
    <div class="ongoing">
        <p>
            <h3>Ongoing Competitions</h3>
        </p>
        <ol id="ongoing">
        <!-- This will be filled via a database, probably include pictures -->
            <li> Ongoing 1 </li>
            <li> Ongoing 2 </li>
        </ol>
    </div>
    <div class="past">
        <p>
            <h3>Past Competitions</h3>
        </p>
        <ol id="past">
            <li> Past 1 </li>
            <li> Past 2 </li>
        </ol>
    </div>

{% endblock %}