{% extends "base.html" %} 
{% block content %}
<div class="container browse">
  <div class="row">
    <div class="col s6 left-align"><h5>Competion Name Option 1</h5></div>
    <hr>
  </div>

      <div class="row">

    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>

      <div class="row">
    <div class="col s3">
      Amount
    </div>
    <div class="col s3">
      TextBox
    </div>
    </div>
          <div class="row">
    <div class="col s3">
      Expiry Date
    </div>

    </div>
  <hr>
  <div class="row">

    <div class="col s3 offset-s4">
      <a class="waves-effect waves-light btn">Make Payment</a>
    </div>
  
  </div>
    </div>
  
 
</div>
{% endblock %}