{% extends "base.html" %} {% block content %}
<div class="container browse">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col s6 left-align">
                <h5>Create a New Competiton</h5></div>
            <hr>
        </div>
        <div class="row">
            <div class="col s3">
                Title
            </div>
            <div class="col s3">
                {{form.title(size=120)}}
            </div>
        </div>

        {%for o in form.options%}
        <div class="row">

            <div class="col s3">
                Description of option
            </div>
            <div class="col s3">
                {{o.form.description}}
            </div>
            <div class="col s6">
                {{o.form.image_url}}

            </div>
        </div>
        {% endfor %}


        <div class="row">

            <div class="col s3 offset-s6">
                <input type="submit" class="waves-effect waves-light btn blue" value="Add Option" name="add_option"></input>
            </div>

        </div>
        <div class="row">
            <div class="col s3">
                Amount
            </div>
            <div class="col s3">
                {{form.amount()}}
            </div>
        </div>
        <div class="row">
            <div class="col s3">
                Expiry Date
            </div>
            <div class="col s3">
                {{form.date()}}
            </div>
        </div>
        <hr>
        <div class="row">

            <div class="col s3 offset-s4">
                <input type="submit" class="waves-effect waves-light btn blue" value="Submit" name="submit_comp"></input>
            </div>

        </div>
    </form>
</div>


</div>
{% endblock %}
