{% extends "base.html" %} 
{% block content %}
<div class="container browse">
  <div class="row">
    <div class="col s6 left-align"><h5>Create a New Competiton</h5></div>
    <hr>
  </div>
    <div class="row">
    <div class="col s3">
      Title 
    </div>
    <div class="col s3">
      Text Box
    </div>
    </div>
    <div class="row">
    <div class="col s3">
      View without voting
    </div>
    <div class="col s3">
      Checkbox
    </div>
    </div>
      <div class="row">

    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>
  <div class="row">

    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>
  <div class="row">

    <div class="col s3 offset-s3">
      <a class="waves-effect waves-light btn">Add another option</a>
    </div>
  
  </div>
      <div class="row">
    <div class="col s3">
      Amount
    </div>
    <div class="col s3">
      TextBox
    </div>
    </div>
          <div class="row">
    <div class="col s3">
      Expiry Date
    </div>
    <div class="col s3">
      Date Picker
    </div>
    </div>
  <hr>
  <div class="row">

    <div class="col s3 offset-s4">
      <a class="waves-effect waves-light btn">Submit Campaign</a>
    </div>
  
  </div>
    </div>
  
 
</div>
{% endblock %}