{% extends "base.html" %} {% block content %}

<!-- validation redirects to this page that prompts the user to log in when they reach an action that requires login -->
<div class="container Recommended">
    <br><br>
    <div class="row">
        <div class="col s12 center">
            <h5>Please Login</h5></div>

    </div>
    <hr>
    <div class="row">
        <div class="col s3">

        </div>
        <div class="col s6 center">
            You've reached a page where you'll need to log in. Please click the sign in button at the top right of the page to get going!
        </div>
    </div>
</div>
{% endblock %}
