{% extends "base.html" %} 
{% block content %}
<div class="container browse">
  <div class="row">
    <div class="col s6 left-align"><h5>Ongoing Competitions</h5></div>
    <hr>
    <div class="row">
      <div class="col s12 m12 l12 ongoing">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
      </div>
    </div>
  </div>
  <hr>
<div class="row">
    <div class="col s6 left-align"><h5>Finished Competitions</h5></div>
    <hr>
    <div class="row">
      <div class="col s12 m12 l12 finished">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
        <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
      </div>
    </div>
  </div>  
</div>
{% endblock %}