{% extends "base.html" %} 
{% block content %}
<div class="container browse">
<table class = "striped">
        <thead>
          <tr>
              <th data-field="id">Competiton</th>
              <th data-field="name">Total Collected</th>
              <th data-field="name">Expiry Date</th>
              
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>200$</td>
            <td>03/11/2016</td>
            <td><a class="waves-effect waves-light btn">Extend Campaign</a></td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>300$</td>
            <td>03/11/2016</td>
            <td><a class="waves-effect waves-light btn">Extend Campaign</a></td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>400$</td>
            <td>03/11/2016</td>
            <td><a class="waves-effect waves-light btn">Extend Campaign</a></td>
          </tr>
        </tbody>
      </table> 
</div>
{% endblock %}