{% extends "base.html" %} {% block content %}

<!-- success page that adds your vote to that option and tells you how many votes so far. Can go back to home page -->
<div class="container Recommended">
    <br><br>
    <div class="row">
        <div class="col s12 center">
            <h5>Success!</h5></div>

    </div>
    <hr>
    <div class="row">
        <div class="col s3">

        </div>
        <div class="col s6 center">
            Congratulations and thank you for your vote.
            <br> Your choice has received {{option_votes}} vote(s) so far out of {{total_votes}} total vote(s).
            <br> You will be notified of the winner on {{competition_end_date}} when the campaign ends.
            <br><br>
            <a href={{ url_for( 'index') }}><input class="btn teal lighten-3" id="home" type="submit" value="Back to Home"></a>
        </div>
    </div>
</div>
{% endblock %}
