{% extends "base.html" %} 
{% block content %}
<div class="container create">
  <div class="row">
    <div class="col s6 left-align">
      <h3>{{ details.0.1 }}</h3>
    </div>
    <div class="col s6 right-align">
      <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
    </div>
  </div>
  <div class="row">
    <div class="s12">
      <p>
        <h5>{{ details.0.2 }}</h5>
      </p>
    </div>
  </div>
  {% for option in options %}
  <div class="row">
    <div class="col s3">
      Checkbox
    </div>
    <div class="col s3">
      {{ option.1 }}
    </div>
    <div class="col s6">
      <img class="materialboxed" src="{{url_for('static', filename=option.2)}}"  height=200>
    </div>
  </div>
  {% endfor %}
  
  </div>
</div>
{% endblock %}