{% extends "base.html" %} 
{% block content %}
<div class="container create">
  <div class="row">
    <div class="col s6 left-align">
      <h3>Project Title</h3>
    </div>
    <div class="col s6 right-align">
      <img class="materialboxed col s4" src="https://octodex.github.com/images/megacat.jpg">
    </div>
  </div>
  <div class="row">
    <div class="s12">
      <h4>Project Description</h4>
    </div>
  </div>
  <div class="row">
    <div class="s12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis condimentum justo et iaculis. In dignissim, nisl at porttitor tincidunt, urna lorem finibus leo, eget mattis massa neque id orci. Sed vel libero eu nunc scelerisque efficitur. Suspendisse leo leo, lobortis id nunc eu, vehicula molestie arcu. Proin commodo varius lectus eu egestas. Cras in purus eu dolor interdum commodo id non est. Mauris ut mi eget quam luctus tincidunt lobortis et ante.

        Vivamus cursus porttitor urna. Integer eu porttitor enim. Quisque eget arcu condimentum, volutpat mauris at, vulputate tellus. Vivamus varius tincidunt mollis. Vivamus aliquam nec lectus sed faucibus. Ut feugiat commodo mi sit amet mattis. Nam semper nibh mi, eu facilisis velit semper a. Suspendisse congue pulvinar malesuada. Morbi cursus purus quis sapien mollis, nec euismod velit aliquet.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      Checkbox
    </div>
    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      Checkbox
    </div>
    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      Checkbox
    </div>
    <div class="col s3">
      Description of option
    </div>
    <div class="col s6">
      <img class="materialboxed" src="https://octodex.github.com/images/megacat.jpg" height=200>
    </div>
  </div>
</div>
{% endblock %}