{% extends "base.html" %} {% block content %}

<div class="container create">
    <div class="row">
        <br><br>
        <div class="col s6 center">
            <h4>{{ details.0.1 }}</h4>
            <h5>{{details.0.2}}</h5>
            <h6>$ {{details.0.3}}</h6>
        </div>
        <img class="materialboxed col s4 right-align" src="{{url_for('static', filename=details.0.5)}}" onerror="imgError(this);">
    </div>
    <div class="divider">
    </div>
    <br>
    {% if not completed %}
      <div class="row">
        Select your favorite option from the choices below. Each option costs the same, but your vote
        can help your choice win the campaign. Click on Vote at the bottom to enter your details:
        <form action={{ url_for('order') }} method="post">
            {% for option in options %}
            <p>
                <input class="with-gap col s2" name="group1" type="radio" id="option{{loop.index}}" value={{option.0}} />
                <label class="col s7" for="option{{loop.index}}">{{option.1}}</label>
                <img class="materialboxed col s2 right-align" src="{{url_for('static', filename=option.2)}}" onerror="imgError(this);">
            </p>
            <div class="row"></div>
            {% endfor %}
            <div class="row">

                <div class="col s12 left-align">
                    <input type="submit" class="btn teal lighten-3" value="Vote!" name="submit_comp"></input>
                </div>

            </div>
        </form>
      </div>
      {% else %}
        <div class="row">
          Voting for this campaign has ended. The results are as below:
          <br><br>
          <form action={{ url_for('order') }} method="post">
              {% for option in options %}
              <p>
                  <div class="col s6 center">
                    {{option.4}} Vote(s) for {{option.1}}
                  </div>
                  <!-- <label class="col s7" for="option{{loop.index}}">{{option.1}}</label> -->
                  <img class="materialboxed col s2 right-align" src="{{url_for('static', filename=option.2)}}" onerror="imgError(this);">
              </p>
              <div class="row"></div>
              {% endfor %}
              <div class="row">


              </div>
        </form>
        </div>
      {% endif %}


</div>
</div>
{% endblock %}
